<div class="row">
    <div class="col-md-9">
        <div class="l-main-content l-main-content_pd-rgt l-main-content_pd-top_lg">
            <div class="posts-group">
                <article ng-repeat="post in vm.Posts track by $index" class="b-post b-post-2 clearfix">
                    <div class="entry-media"><a href="assets/media/content/posts/780x350/1.jpg" class="js-zoom-images"><img src="assets/media/content/posts/780x350/1.jpg" alt="Foto" class="img-responsive"/></a></div>
                    <div class="entry-main">
                        <div class="entry-header">
                            <div class="entry-date">{{post.entryDate}}</div>
                            <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon pe-7s-user"></i>By<a href="post-1.html" class="entry-meta__link"> {{post.entryUser}}</a></span>
                                <span class="entry-meta__item"><i class="entry-meta__icon pe-7s-comment"></i>Comments:<a href="post-1.html" class="entry-meta__link"> {{post.comments}}</a></span>
                                <span class="entry-meta__item"><i class="entry-meta__icon pe-7s-portfolio"></i><a href="post-1.html" class="entry-meta__link">Security Services</a></span>
                            </div>
                            <h2 class="entry-title entry-title_spacing ui-title-inner">{{post.entryTitle}}</h2>
                        </div>
                        <div class="entry-content">
                            <p>{{post.entryContent}}</p>
                        </div>
                        <div class="entry-footer"><a href="./#/post/{{post.id}}" class="btn btn-default btn-sm btn-effect">read more</a><a href="/#/post/{{post.id}}"
                                class="entry-footer__link"><i class="icon pe-7s-share"></i> Share This</a></div>
                    </div>
                </article>
                <!-- end post-->
            </div>

            <ul class="pagination text-center">
                <li><a href="#"><i class="icon pe-7s-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#"><i class="icon pe-7s-angle-right"></i></a></li>
            </ul>

        </div>
    </div>
    <div class="col-md-3">
        <aside class="l-sidebar l-sidebar_mrg-lft_minus">
            <div class="widget widget-searce section-sidebar">
                <form id="search-global-form" class="form-search">
                    <input type="text" placeholder="Search ..." class="form-search__input">
                    <button class="form-search__btn"><i class="icon pe-7s-search"></i></button>
                </form>
            </div>
            <!-- end widget-->
            <section class="widget section-sidebar">
                <h3 class="widget-title ui-title-block border-left border-left_primary">categories</h3>
                <div class="widget-content">
                    <ul class="list-widget list list-mark-4 list-unstyled">
                        <li class="list-widget__item"><a href="service-details.html" class="list-widget__link">Event Security<span class="badge pull-right">(114)</span></a></li>
                    </ul>
                </div>
            </section>
            <!-- end widget-->
            <section class="widget section-sidebar">
                <h3 class="widget-title ui-title-block border-left border-left_primary">Latest Posts</h3>
                <div class="widget-content">
                    <div class="post-widget clearfix">
                        <div class="post-widget__media"><a href="blog-1.html"><img src="assets/media/content/posts/97x85/1.jpg" alt="foto" class="img-responsive"/></a></div>
                        <div class="post-widget__inner"><a href="blog-1.html" class="post-widget__title">The dynamic growth continuous expansion</a>
                            <time datetime="2012-10-27 15:20" class="post-widget__date">31 may 2016</time>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end widget-->
            <section class="widget section-sidebar">
                <h3 class="widget-title ui-title-block border-left border-left_primary">about us</h3>
                <div class="widget-content">
                    <p>Consectetur adipisicing elit sed aute ot eiusmod tempora incididunt ulabore dolore magna aliqula utmn
                        lore enim adm minim veniam quis nostrud Lorem ipsum dolor amet consectetur adpisicing elit sed do
                        eiusmod tempor.</p>
                </div>
            </section>
            <!-- end widget-->
            <div class="section-sidebar">
                <div class="b-reviews-2 bg-grey">
                    <div class="blockquote__img center-block"><img src="assets/media/content/reviews/70x70/1.jpg" alt="foto" class="img-responsive" /></div>
                    <blockquote class="blockquote blockquote-3">
                        <p>Consectetur elit sed aute ou eiusmod tempor incididunt ulabor dolore magna aliqua utn lore enim adsed
                            minim veniam quis nostrud.</p>
                        <footer class="blockquote__footer">
                            <cite title="Blockquote Title"><span class="blockquote__author">Adam Mills</span><span class="blockquote__category">Pramount studio</span></cite>
                        </footer>
                    </blockquote>
                </div>
                <!-- end b-reviews-->

            </div>
            <!-- end widget-->
            <section class="widget section-sidebar">
                <h3 class="widget-title ui-title-block border-left border-left_primary">popular tags</h3>
                <div class="widget-content">
                    <ul class="list-tags list-unstyled">
                        <li class="list-tags__item"><a href="service-details.html" class="list-tags__link">surveillance</a></li>
                    </ul>
                </div>
            </section>
            <!-- end widget-->
            <div class="section-sidebar">
                <div class="border-2-colors border-2-colors_border-bottom">
                    <div class="b-banners-1 section-bg section-bg_grey-2 b-banners-1_mod-a">
                        <div class="section__inner">
                            <div class="b-banners-1__text">Get to know how much Event Security Cost</div><a href="home.html" class="b-banners-1__btn btn btn-default btn-sm btn-effect">request a quote</a>
                        </div>
                    </div>
                </div>
                <!-- end b-banners-->
            </div>
            <div class="section-sidebar">
                <div class="b-download b-download_mod-a">
                    <h3 class="b-download__title">services brochure</h3>
                    <div class="b-download__item"><a href="assets/downloads/doc-1.doc" class="b-download__link color-primary"><i class="b-download__icon fa fa-file-word-o"></i> Download as DOC</a>
                        <div class="b-download__size">size: 3mb</div>
                    </div>
                </div>
                <!-- end b-download-->
            </div>
        </aside>
    </div>
</div>