    /*
    Flaticon icon font: Flaticon
    Creation date: 27/06/2017 16:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-screen:before { content: "\f100"; }
.flaticon-smartphone-with-shield:before { content: "\f101"; }
.flaticon-doorway:before { content: "\f102"; }
.flaticon-warning:before { content: "\f103"; }
.flaticon-networking:before { content: "\f104"; }
.flaticon-unlocked:before { content: "\f105"; }
.flaticon-shield:before { content: "\f106"; }
.flaticon-security:before { content: "\f107"; }
.flaticon-browser:before { content: "\f108"; }
.flaticon-video:before { content: "\f109"; }
.flaticon-technology:before { content: "\f10a"; }
.flaticon-android:before { content: "\f10b"; }
.flaticon-windows:before { content: "\f10c"; }
.flaticon-logo:before { content: "\f10d"; }
.flaticon-computer:before { content: "\f10e"; }
    
    $font-Flaticon-screen: "\f100";
    $font-Flaticon-smartphone-with-shield: "\f101";
    $font-Flaticon-doorway: "\f102";
    $font-Flaticon-warning: "\f103";
    $font-Flaticon-networking: "\f104";
    $font-Flaticon-unlocked: "\f105";
    $font-Flaticon-shield: "\f106";
    $font-Flaticon-security: "\f107";
    $font-Flaticon-browser: "\f108";
    $font-Flaticon-video: "\f109";
    $font-Flaticon-technology: "\f10a";
    $font-Flaticon-android: "\f10b";
    $font-Flaticon-windows: "\f10c";
    $font-Flaticon-logo: "\f10d";
    $font-Flaticon-computer: "\f10e";